@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

svg {
  vertical-align: top;
}

// section {
//   float: left;
//   width: 100%;
// }

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #1F1F24;
  padding-top: 72px;

  @media (max-width: 550px) {
    padding-top: 56px;
  }

  &.showModal {
    position: relative;
    overflow: hidden;
  }
}

input, textarea {
  font-family: "Montserrat", sans-serif;

  &::placeholder {
    color: #fff;
  }
}


button {
  font-family: "Montserrat", sans-serif;

}



a {
}

a:hover {
}

.wrapper {
  @media (max-width: 550px) {
    overflow: hidden;
  }
}

.z {
  z-index: 2;
}

.bg-moadal-opened {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	//background-color: rgba(255,255,255,0.8);
	z-index: 101;
	display: none;
}

.hide-desc {
	@media (min-width: 1150px) {
		display: none !important;
	}
}

.hide-mob {
  
	@media (max-width: 1150px) {
		display: none !important;
	}
}

:root {
  --container-max: 1326px;
}

@media (max-width: 1340px) {
  :root {
    --container-max: 1146px;
  }
}

@media (max-width: 1150px) {
  :root {
    --container-max: 966px;
  }
}

.container {
  max-width: var(--container-max);
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 966px) {
  .container {
    min-width: 546px;
  }
}

@media (max-width: 550px) {
  .container {
    width: 100%;
    min-width: 320px;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 99;
    border-bottom: 1px solid #D3D3D3;

  @media (max-width: 996px) {
  }
}
.header-in {
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;

  @media (max-width: 550px) {
	height: 56px;
  }
}
.logo {
  width: 90px;
  flex: 0 0 auto;
}
.header-univ {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @media (max-width: 1150px) {
	flex: 1;
  }

  .close-menu {
	display: none;
  }

  .group-menu {
	@media (max-width: 1150px) {
		display: none;
		position: fixed;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: #F5F6FA;
		width: 243px;
		z-index: 102;
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s;
		
		&.active {
			display: block;
			opacity: 1;
			visibility: visible;
		}

		&:before {
			content: "";
			position: absolute;
			top: 0;
			height: 4px;
			left: 0;
			width: 100%;
			background: linear-gradient(36.87deg, #0093d5 5.36%, #50c659 94.64%);
		}

		.close-menu {
			display: block;
			width: 40px;
			height: 40px;
			position: absolute;
			right: 100%;
			top: 0;
			background-color: #33333B;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
		}
	}
	@media (min-width: 1150px) {
		.mob-part-head-info {
			display: none;
		}
	}
	@media (max-width: 1150px) {
		.mob-part-head-info {
			padding: 26px 28px;
			display: flex;
			flex-direction: column;
			gap: 30px;
		}
		.heder-mail {
			a {
				font-size: 14px;
			}
		}
		.header-phone {
			padding: 0;
			a {
				font-size: 14px;
			}
		}
		.call-me {
			font-size: 12px;
		}
	}
  }

  nav {
	@media (max-width: 1150px) {
		background-color: #fff;
		padding: 12px 0 0 0;
	}
    ul {
      letter-spacing: normal;
      display: flex;
      justify-content: space-between;

	  @media (max-width: 1150px) {
		flex-direction: column;
	  }

      li {

		@media (max-width: 1150px) {
			&.active {
				a {
					background-image: url(./images/active-menu-mob.svg);
					background-repeat: no-repeat;
					background-position: right 24px center;
				}
			}
		}
        a {
          display: block;
          cursor: pointer;
          position: relative;
          padding: 27px 8px;
          color: #1f1f24;
          text-decoration: none;
          font-size: 14px;

		  @media (max-width: 1150px) {
			padding: 13px 24px;
			color: #1B5E20;
		  }

          &:after {
            content: "";
            position: absolute;
            background-color: transparent;
            height: 3px;
            bottom: 0px;
            left: 0;
            width: 100%;
            transition: all 0.3s;
          }

          &:hover {
            &:after {
				@media (min-width: 1150px) {
              		background-color: #4aca22;
				}
            }
          }
        }
      }
    }
  }
}
.header-right {
  display: flex;
  align-items: center;
  gap: 28px;
  font-size: 12px;

  @media (max-width: 1150px) {
	justify-content: end;
  	width: 100%;
  }

  @media (max-width: 966px) {
	.heder-mail {
		display: none;
	}

	.header-phone {
		display: none;
	}
  }

  @media (max-width: 550px) {
	gap: 8px;
  }
}
.search-bt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  svg {
    path {
      transition: all 0.3s;
    }
  }

  &:hover {
    svg {
      path {
        fill: #7b7b81;
      }
    }
  }
}
.heder-mail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;

  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #1f1f24;
    gap: 2px;
	font-size: 12px;

    &:hover {
      text-decoration: underline;
    }

    svg {
      margin-top: 1px;
      path {
        transition: all 0.3s;
      }
    }

    &:hover {
      svg {
        path {
          fill: #1b5e20;
        }
      }
    }
  }
}
.header-phone {
  display: flex;
  align-items: center;
  position: relative;
  padding: 8px 0;
  gap: 2px;
  font-weight: 500;

  a {
    text-decoration: none;
    color: #1f1f24;
	font-size: 12px;

    &:hover {
      text-decoration: underline;
    }
  }

  svg {
    path {
      transition: all 0.3s;
    }
  }

  &:hover {
    svg {
      path {
        fill: #1b5e20;
      }
    }
  }

  &:hover {
    .drop-phones {
      visibility: visible;
      opacity: 1;
    }
  }
}
.phone-ico {
}
.active-phone {
  font-size: 12px;
  font-weight: 500;
}
.drop-phones {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  position: absolute;
  min-width: 100%;
  top: 100%;
  left: 0;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(55, 71, 79, 0.2);

  ul {
    flex-direction: column;
    display: flex;
    padding: 4px 0;

    li {
      a {
        text-decoration: none;
        color: #1f1f24;
        white-space: nowrap;
        padding: 4px 8px 4px 22px;
        display: block;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
.call-me {
  gap: 2px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
	font-size: 12px;

  svg {
    path {
      transition: all 0.3s;
    }
  }

  &:hover {
    svg {
      path {
        fill: #1b5e20;
      }
    }
  }
}

.burger {
	display: none;

	@media (max-width: 1150px) {
		display: block;
	}
}

#hero {
  position: relative;
  overflow: hidden;

  

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
  }

  video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 1;
  }
}

.hero-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(0deg, rgba(0, 20, 29, 0.5), rgba(0, 20, 29, 0.5)), linear-gradient(258.55deg, rgba(74, 202, 34, 0.25) 4.12%, rgba(0, 147, 213, 0.25) 94.96%), url(aerial-panoramic-view-tanks-chemical-mixing-industrial-plant-with-chemical-industry.jpg);
    background-blend-mode: multiply, normal, normal;
  }
}

.hero-wrap {
  width: 100%;
  z-index: 3;
  position: relative;
}

.hero-in {
  height: 592px;
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 966px) {
	min-height: 400px;
	height: auto;
	padding: 40px 0 24px;
  }
}

.work-in-ua {
  color: #ffdd00;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.hero-area {
  color: #fff;
  width: 100%;
  padding-right: 220px;

  @media (max-width: 966px) {
	padding-right: 0;
  }
  h1 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: uppercase;
    line-height: 48px;

    @media (max-width: 966px) {
      font-size: 28px;
      line-height: 40px;
      font-weight: bold;
    }

    @media (max-width: 550px) {
      font-size: 26px;
      line-height: 38px;
      margin-bottom: 20px;
    }
  }

  p {
    margin-bottom: 32px;
    font-size: 14px;
    line-height: 20px;

	@media (max-width: 550px) {
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 32px;
	}
  }
}
.hero-bt {
  display: flex;
  gap: 40px;

  .prim-bt {
    padding: 0 52px;
    
     @media (max-width: 550px) {
      padding: 0 48px;
    }
  }
  
  .third-bt {
    padding: 0 47px;
  }

  @media (max-width: 550px) {
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }
}
.prim-bt {
  font-size: 16px;
  font-weight: 600;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  border-radius: 4px;
  background-color: #4aca22;
  transition: all 0.3s;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  color: #1F1F24;
  font-weight: 600;
  
  @media (max-width: 550px) {
    height: 48px;
    padding: 0 24px;
    // font-size: 14px;
  }

  &:hover {
    //background-color: #1b5e20;
    background-color: #64dd17;
  }

  &.min {
    height: 48px;
    font-size: 14px;
  }
}

.sec-bt {
  font-size: 16px;
  font-weight: 600;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 52px;
  border-radius: 4px;
  background-color: #0093d5;
  transition: all 0.3s;
  border: none;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: #01579b;
  }
}

.third-bt {
  font-size: 16px;
  font-weight: 600;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #4ACA22;
  transition: all 0.3s;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  
  @media (max-width: 550px) {
    height: 48px;
    padding: 0 48px;
    //font-size: 14px;
  }

  &:hover {
    //background-color: #1b5e20;
    color: #000;
    background-color: #4ACA22;
  }

  &.green {
    color: #64DD17;

    &:hover {
      color: #fff;
    }
  }
}

.anim-top {
  position: absolute;
  //bottom: -98px;
  right: 15px;
  top: 0;

  @media (max-width: 966px) {
	display: none;
  }
}



.aos-animate {
	.draw path {
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	animation: draw 2s forwards ease-in-out;
	}
}

.draw {
  overflow: visible;
}

.draw path:nth-child(3) {
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  animation: slide-in 1s ease-out forwards;
  animation-delay: 1s;
  opacity: 0;
  transform: translateX(400px);
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes slide-in {
  to {
    opacity: 0.1;
    transform: translateX(0);
  }
}

#serv {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    background: linear-gradient(90deg, #e3f2fd 0%, #f1f8e9 100%);
    top: 438px;
    left: 0;
    width: 100%;
    bottom: 0;
  }

  .container {
    position: relative;
    z-index: 1;
  }
}

.popular-serv {
  position: relative;
  z-index: 2;
  padding: 60px 0 0 0;

  @media (max-width: 966px) {
	padding: 40px 0 0 0;
  }
}
.section-tit {
  margin-bottom: 24px;
  position: relative;
  h2 {
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    text-transform: uppercase;

	@media (max-width: 550px) {
		font-size: 20px;
		line-height: 28px;
	}
  }
}
.serv-list {
  display: flex;
  gap: 1px;
  flex-wrap: wrap;
  margin-bottom: 33px;

  @media (max-width: 550px) {
	margin-bottom: 24px;
  }

  &.aos-animate .one-serv {
    opacity: 1;
    transform: translate(0, 0); // скидання трансформації
    }
}

@for $i from 1 through 8 {
  .one-serv:nth-child(#{$i}) {
    transition-delay: #{($i - 1) * 100}ms;

    // Непарні — зліва, парні — справа
    transform: translateY(20px) translateX(if($i % 2 == 1, -30px, 30px));

    &.aos-animate {
      transform: translate(0, 0);
    }
  }
}

.one-serv {
  padding: 20px 20px 20px 62px;
  width: calc(50% - 0.5px);
  min-height: 104px;
  position: relative;
  text-decoration: none;
  color: #1f1f24;
  opacity: 0;
  transform: translateY(20px); // базовий зсув вниз
  transition: opacity 0.5s ease, transform 0.5s ease;

  @media (max-width: 966px) {
	width: 100%;
  }
  
  @media (max-width: 550px) {
	min-height: 72px;
  }

  &:first-child {
    background-color: #d0edc4;
  }

  &:nth-child(2) {
    background-color: #c5e5d2;
  }

  &:nth-child(3) {
    background-color: #b9dee1;
  }

  &:nth-child(4) {
    background-color: #b0d8ed;
  }

  &:nth-child(5) {
    background-color: #aecdeb;
  }

  &:nth-child(6) {
    background-color: #a2c2e7;
  }

  &:nth-child(7) {
    background-color: #98c1f0;

    @media (max-width: 966px) {
      display: none;
    }
  }

  &:nth-child(8) {
    background-color: #8eb2db;
	
    @media (max-width: 966px) {
      display: none;
    }
  }

  &:nth-child(9) {
    background-color: #8eb2db;
	
    @media (max-width: 966px) {
      display: none;
    }
  }
}
.one-serv-ico {
  position: absolute;
  top: 20px;
  left: 20px;
}
.one-serv-tit {
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 2;        /* обмеження до 2 рядків */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  @media (max-width: 550px) {
	font-size: 14px;
	line-height: 20px;
  }
}

.all-serv {
  margin-bottom: 33px;
}
.detal-bt {
  //height: 32px;
  display: inline-block;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  gap: 8px;
  text-transform: uppercase;
  text-decoration: none;
  color: #1f1f24;
  padding-right: 28px;
  position: relative;
  padding: 6px 28px 6px 0px;
  font-weight: 600;
  
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    background-image: url(./images/detal-link.svg);
    background-repeat: no-repeat;
    background-position: center center;
    right: 0;
    width: 20px;
    height: 20px;
  }

  i {
    transform: translateX(0);
  }

  &:hover {
    &:after {
      animation: slideLoop 1.2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    }
  }
}

@keyframes slideLoop {
  0% {
    transform: translate(0, -50%);
  }
  70% {
    transform: translate(5px, -50%);
  }
  100% {
    transform: translate(0, -50%);
  }
}

.fast-telegram {
  padding: 60px;
  position: relative;
  overflow: hidden;
  margin-bottom: 92px;
  background-image: url(./images/telegram-bg-single.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 966px) {
	margin-bottom: 60px;
  }

  @media (max-width: 550px) {
	padding: 40px;
	margin-bottom: 40px;
  }

  &-in {
    position: relative;
    z-index: 3;
    display: flex;
    gap: 81px;
    align-items: center;

	@media (max-width: 966px) {
		flex-direction: column;
		align-items: start;
		gap: 24px;
	}
  }

  & > img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -783px;
    margin-top: -522px;
    z-index: 1;
    width: 1566px;
    max-width: inherit;
  }

  // &::before {
  //   content: "";
  //   background: linear-gradient(
  //       0deg,
  //       rgba(0, 20, 29, 0.5),
  //       rgba(0, 20, 29, 0.5)
  //     ),
  //     linear-gradient(
  //       258.55deg,
  //       rgba(74, 202, 34, 0.4) 4.12%,
  //       rgba(0, 147, 213, 0.4) 94.96%
  //     );
  //   background-blend-mode: multiply, normal;
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   width: 100%;
  //   height: 100%;
  //   z-index: 2;
  // }
}
.fast-telegram-tit {
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
  color: #fff;
  text-transform: uppercase;
  flex: 0 0 1;
  width: 100%;

  @media (max-width: 550px) {
	font-size: 20px;
	line-height: 28px;
	font-weight: 600;
  }
}
.fast-telegram-bt {
}
.teleg-bt {
  flex: 0 0 auto;
  padding: 8px 76px 8px 28px;
  background: linear-gradient(266.84deg, #0093d5 -0.14%, #007dde 100.3%);
  border-radius: 4px;
  width: 282px;
  white-space: nowrap;
  height: 60px;
  display: flex;
  cursor: pointer;
  align-items: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
  border-radius: 4px;
  position: relative;

  @media (max-width: 550px) {
	height: 48px;
	padding: 8px 62px 8px 24px;
  }

  i {
    position: absolute;
    right: 90px;
    bottom: -47px;

	@media (max-width: 550px) {
		bottom: -55px;
	}

    svg {
      animation: flyLoop 5s ease-in-out infinite;

	  @media (max-width: 550px) {
		width: 26px;
	  }
    }
  }

  &:hover {
    i {
      svg {
        animation: levitate 1.5s ease-in-out infinite;
        transform: translate(60px, -60px) scale(1.1);
      }
    }
  }
}

@keyframes flyLoop {
  0% {
    transform: translate(60px, -60px) scale(1.1);
    opacity: 1;
  }

  10% {
    transform: translate(65px, -65px) scale(1) rotate(-3deg);
  }

  20% {
    transform: translate(60px, -60px) scale(1) rotate(3deg);
  }

  30% {
    transform: translate(60px, -60px) scale(1) rotate(0deg);
  }

  60% {
    transform: translate(150px, -150px) scale(0.7);
    opacity: 0.7;
  }

  80% {
    transform: translate(250px, -250px) scale(0.4);
    opacity: 0.2;
  }

  90% {
    transform: translate(0, 0) scale(0.3);
    opacity: 0;
  }

  100% {
    transform: translate(60px, -60px) scale(1.1);
    opacity: 1;
  }
}

@keyframes levitate {
  0% {
    transform: translate(60px, -60px) scale(1) rotate(0deg);
  }
  25% {
    transform: translate(60px, -60px) scale(1) rotate(-2deg);
  }
  50% {
    transform: translate(60px, -60px) scale(1) rotate(2deg);
  }
  75% {
    transform: translate(60px, -60px) scale(1) rotate(-1deg);
  }
  100% {
    transform: translate(60px, -60px) scale(1) rotate(0deg);
  }
}

.more-serv {
  padding-bottom: 150px;

  @media (max-width: 966px) {
	padding-bottom: 80px;
  }
  
  @media (max-width: 550px) {
	padding-bottom: 0;
  }
}
.more-serv-list {
  position: relative;
  padding-top: 4px;
  display: flex;

  @media (min-width: 550px) {
	&:before {
		content: "";
		position: absolute;
		top: 0;
		height: 4px;
		left: 0;
		width: 100%;
		background: linear-gradient(36.87deg, #0093d5 5.36%, #50c659 94.64%);
	}
	}
}
.more-serv-list-menu {
  width: 416px;
  flex: 0 0 auto;
  //background-color: #0093d5;
  position: relative;
  z-index: 1;

  @media (max-width: 1340px) {
	width: 356px;
  }

  @media (max-width: 966px) {
	display: none;
  }

  &.aos-animate ul li {
    opacity: 1;
    transform: translate(0, 0);
  }

  ul {
    li {
      padding: 20px;
      color: #fff;
      font-size: 14px;
      line-height: 20px;
      background-color: #0093d5;
      //margin-bottom: 1px;
	    border-bottom: 1px solid #fff;
      cursor: pointer;
      transition: all 0.3s;
      position: relative;
      opacity: 0;
      transform: translateY(20px); // базовий зсув вниз
      transition: opacity 0.5s ease, transform 0.5s ease;

      &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        background-image: url(./images/more-arrow.svg);
        width: 24px;
        height: 24px;
        opacity: 0;
        transition: all 0.3s;
        margin-right: 30px;
      }

      span {
      }

      &.active {
        color: #1f1f24;
        background-color: #fff;

        &:after {
          opacity: 1;
          margin-right: 0px;
        }
      }

      &:not(.active):hover {
        background-color: #01579b;
      }
    }
  }

  @for $i from 1 through 9 {
    li:nth-child(#{$i}) {
      transition-delay: #{($i - 1) * 100}ms;
      transform: translateY(20px) translateX(-30px);
    }
  }
}

.mob-tab-name {
	display: none;

	@media (max-width: 966px) {
		padding: 20px;
		color: #fff;
		font-size: 14px;
		line-height: 20px;
		background-color: #0093d5;
		margin-top: 1px;
		cursor: pointer;
		transition: all 0.3s;
		position: relative;
		display: block;

		&:after {
			content: "";
			position: absolute;
			right: 18px;
			top: 50%;
			transform: translate(0, -50%) rotate(90deg);
			background-image: url(./images/more-arrow.svg);
			width: 24px;
			height: 24px;
			opacity: 0;
			transition: all 0.3s;
			margin-top: -30px;
		}

		span {
		}

		&.active {
			color: #1f1f24;
			background-color: #fff;
			border-bottom: 1px solid #EDEDED;

			&:after {
			opacity: 1;
			margin-top: 0px;
			}
		}

		&:not(.active):hover {
			background-color: #01579b;
		}
	}
}

.more-serv-descr {
  padding: 48px;
  width: 100%;
  max-height: 100%;
  background: #ffffff;
   box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25),
    0px 0px 15px rgba(0, 0, 0, 0.07);

  @media (max-width: 966px) {
	padding: 0;
  }

  .one-tab-serv {
    display: none;

	@media (max-width: 966px) {
		padding: 24px;
	}
  }

  ul {
    display: flex;
    gap: 16px;
    flex-direction: column;
    li {
      padding-left: 28px;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      padding: 2px 0px 2px 28px;
      background-repeat: no-repeat;
      background-position: left center;
      background-image: url(./images/more-serv.svg);

      a {
        color: #1f1f24;
        text-decoration: none;
        //border-bottom: 1px solid transparent;
        transition: all 0.3s;

        &:hover {
          //border-bottom: 1px solid #1f1f24;
          color: #15b24b;
        }
      }

	  @media (max-width: 550px) {
		background-position: left top;
	  }
	  
    }
  }
}
.more-serv-descr-tit {
  margin-bottom: 24px;

  h3 {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;

	@media (max-width: 550px) {
		font-size: 14px;
		line-height: 20px;
	}
  }
}

#about {
}

.about {
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
  position: relative;

  @media (max-width: 550px) {
	padding-bottom: 12px;
  }

  .section-tit {
    padding-top: 72px;
    background-image: url(./images/about-ico.svg);
    background-repeat: no-repeat;
    background-position: top left;

    @media (max-width: 1150px) and (min-width: 550px) {
      padding-top: 0;
      padding-left: 72px;
      background-position: left center;
    }

    @media (max-width: 550px) {
      padding-top: 52px;
    }

    h2 {
      @media (max-width: 1150px) {
        br {
          display: none;
        }
      }
    }
  }
}
.about-text {
  padding: 0px 0 0 0;
  width: 640px;
  margin-top: -58px;

  @media (max-width: 1340px) {
	  width: 545px;
  }

  @media (max-width: 1150px) {
    width: 100%;
    padding: 40px 0 0 0px;
    margin-top: 0;
  }
}

.about-descr {
  //text-align: justify;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 24px;

  @media (max-width: 966px) {
	font-size: 14px;
	line-height: 20px;
  }

  p {
	margin-bottom: 8px;

	&:last-child {
		margin-bottom: 0;
	}
  }
}

.mob-who {
	@media (max-width: 550px) {
		display: flex;
		gap: 16px;
	}
}
.mob-who-photo {
	@media (max-width: 550px) {
		width: 120px;
		background-image: url(./images/Shereshevski.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}
}
.mob-who-in {
	flex: 1;
	//width: calc(100% - 16px - 120px);
}


.who {
  margin-bottom: 24px;
  display: flex;
  gap: 16px;
  align-items: center;
}
.who-ico {
  width: 40px;
  flex: 0 0 auto;

  @media (max-width: 550px) {
	display: none;
  }
}
.who-info {
  flex: 0 0 1;
  width: 100%;
}
.who-name {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 4px;
}
.who-about {
  font-size: 12px;
  line-height: 16px;
}
.ask {
  .prim-bt {
    @media (max-width: 550px) {
      padding: 0 14px;
    }
  }
}

.about-photo {
  width: 526px;
  margin-top: -60px;

  @media (max-width: 1340px) {
	width: 450px;
	overflow: hidden;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;

	img {
		min-height: 100%;
		width: auto;
		max-width: inherit;
	}
  }

  @media (max-width: 1150px) {
	display: none;
  }
}

.about-wrap {
	@media (max-width: 1150px) {
		display: flex;
		justify-content: space-between;
		gap: 104px;
		align-items: stretch;
	}

	@media (max-width: 966px) {
		gap: 24px;
	}
}

.about-wrap-in {
	@media (max-width: 1150px) {
		width: calc(60% - 52px);
		flex: 1;
	}
	@media (max-width: 966px) {
		width: calc(100% - 24px - 276px);
		flex: 1;
	}

	@media (max-width: 550px) {
		width: 100%;
	}
}

.about-photo-mob {
	display: none;

	@media (max-width: 1150px) {
		display: flex;
		width: calc(40% - 52px);
		overflow: hidden;
		text-align: center;
		// display: flex;
		// align-items: center;
		// justify-content: center;
		height: auto;
		background-image: url(./images/Shereshevski.jpg);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;

	}

	@media (max-width: 966px) {
		width: 276px;
	}

	@media (max-width: 550px) {
		display: none;
	}
}

#trust {
  overflow: hidden;
  position: relative;
  color: #fff;

  @media (min-width: 966px) {
	background-image: url(./images/trust-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
  }

  @media (max-width: 966px) {
  	background-image: url(./images/trust-bg-mob.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
  }


  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    background: linear-gradient(
        0deg,
        rgba(0, 20, 29, 0.5),
        rgba(0, 20, 29, 0.5)
      ),
      linear-gradient(
        258.55deg,
        rgba(74, 202, 34, 0.4) 4.12%,
        rgba(0, 147, 213, 0.4) 94.96%
      );
    background-blend-mode: multiply, normal;
  }
}

.trust-in {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 550px) {
	flex-direction: column;
	padding: 40px 0;
  }
}

.trust-left {
  width: 634px;
  color: #fff;
  padding: 100px 0;

  @media (max-width: 1150px) {
	width: calc(60% - 77px);
	padding: 60px 0;
  }
  
  @media (max-width: 550px) {
	padding: 0px 0;
	width: 100%;
	margin-bottom: 42px;
  }
}

.trust-tit {
  font-size: 28px;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 24px;
  text-transform: uppercase;

  @media (max-width: 550px) {
	font-size: 20px;
	line-height: 28px;
  }
}

.trust-descr {
  font-size: 16px;
  line-height: 24px;

  @media (max-width: 550px) {
	font-size: 14px;
	line-height: 20px;
  }

  p {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.anim-trust {
  position: absolute;
  right: 504px;
  top: 0;

  @media (max-width: 1340px) {
	right: 350px;
  }

  @media (max-width: 1150px) {
	right: 50%;
	margin-right: -110px;
  }

  @media (max-width: 550px) {
	display: none;
  }
}

.trust-right {
  width: 418px;
  display: flex;
  flex-direction: column;
  gap: 22px;

  @media (max-width: 1340px) {
	width: 260px;
  	gap: 14px;
  }

  @media (max-width: 1150px) {
	width: calc(40% - 77px);
  }

  @media (max-width: 550px) {
	width: 100%;
  }
}
.one-count-tarust {
}
.one-count-tarust-tit {
  font-size: 48px;
  margin-bottom: 8px;

  @media (max-width: 550px) {
	margin-bottom: 4px;
  }
}
.one-count-tarust-about {
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

#map {
  padding: 60px 0;
  overflow: hidden;
}

.map {
  position: relative;

  .swiper {

	@media (min-width: 550px) {
		overflow: visible;
	}
	@media (max-width: 550px) {
		width: calc(100vw - 15px);
	}
  }
  svg {
	max-width: 100%;
	height: auto;

	@media (max-width: 550px) {
		display: none;
	}
    g {
      cursor: pointer;
      &:not(.active):not(:hover) {
        path {
          //fill: transparent !important;
          &.name-town {
          }
          &.dot {
          }
          &.obl {
            fill: transparent !important;
          }
        }
      }
      &:hover {
        path {
        }
      }
    }
  }
}

.hover-map-bl {
  display: none;
  width: 330px;
  padding: 20px;
  color: #fff;
  position: relative;
  background-color: rgba(31, 31, 36, 0.8);
  position: absolute;
	height: auto;

  @media (max-width: 550px) {
	//position: static;
	position: relative;
	display: block;
	margin-right: 24px;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    height: 4px;
    left: 0;
    width: 100%;
    background: linear-gradient(36.87deg, #0093d5 5.36%, #50c659 94.64%);
  }
}
.hover-map-close {
  position: absolute;
  right: 14px;
  top: 14px;
  cursor: pointer;

  &:hover {
    svg {
      path {
        fill: #fff;
      }
    }
  }
}
.hover-map-bl-top {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
}
.hover-map-bl-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.one-l {
  display: flex;
  align-items: center;
  gap: 8px;
}
.one-l-ico {
}
.one-l-name {
  font-size: 14px;
  font-weight: 500;

  &.red {
    color: #f50057;
  }
}

#consult {
  position: relative;
  padding: 60px 0 0;
  margin-bottom: 80px;

  @media (max-width: 550px) {
    padding: 40px 0 0;
    margin-bottom: 40px;
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    // height: 228px;
    bottom: 78px;
    background: linear-gradient(88.29deg, #B0D8ED 0%, #D0EDC4 100%);

    @media (max-width: 966px) {
      bottom: 153px;
    }

    @media (max-width: 550px) {
      bottom: 120px;
    }
  }
}
.form-cons {
  background-color: #33333B;
  padding: 60px;
  box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25), 0px 0px 15px rgba(0, 0, 0, 0.07);
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;

  @media (max-width: 966px) {
    flex-direction: column;
    align-items: self-start;
    gap: 16px;
  }

  @media (max-width: 550px) {
    padding: 40px;
  }

  button {
    padding-left: 24px;
    padding-right: 24px;

    @media (max-width: 550px) {
      width: 100%;
    }
  }
}

.form-cons-in {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @media (max-width: 550px) {
    flex-direction: column;
  } 
}

.form-cons-one {
  width: calc(50% - 15px);
  position: relative;
  padding-bottom: 16px;
  line-height: 1;

  @media (max-width: 550px) {
    width: 100%;
  }
}

input {
    width: 100%;
    height: 42px;
    font-size: 14px;
    background-color: transparent;
    color: #fff;
    border: none;
    border-bottom: 1px solid #7B7B81;
    padding: 0 0px;
    outline: none;
    transition: all 0.3s;

    &:focus {
      border-color: #fff;
    }
  }

  textarea {
    
    font-size: 14px;
    height: 121px;
    background-color: #33333B;
    border-radius: 4px;
    resize: none;
    width: 100%;
    padding: 12px;
    border: none;

    @media (max-width: 1340px) {
      height: 106px;
    }
  }

.reg {
  &:before {
    content: '*';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    color: #F50057;
    margin-top: -5px;
  }

  input {
    padding: 0 0 0 10px;
  }
}
.prim-bt {
}

.logos {
  display: flex;
  gap: 1px;
  flex-wrap: wrap;
  margin-bottom: 80px;

  @media (max-width: 550px) {
    margin-bottom: 40px;
  }

  // &.aos-animate .one-logo {
  //   opacity: 1;
  //   transform: translate(0, 0); // скидання трансформації
  // }

  &.aos-animate {
    @for $i from 1 through 20 {
      .one-logo:nth-child(#{$i}) {
        opacity: 1;
        transform: translate(0, 0);
        transition-delay: #{($i - 1) * 100}ms;
      }
    }
  }

  // Початкові зсуви вліво / вправо
  @for $i from 1 through 20 {
    .one-logo:nth-child(#{$i}) {
      transform: translateY(20px) translateX(0px);
    }
  }
}
.one-logo {
  width: calc((100% - 3px) / 4);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F5F6FA;
  height: 120px;
  opacity: 0;
  transform: translateY(30px); // базовий зсув вниз
  transition: opacity 0.5s ease, transform 0.5s ease;

  @media (max-width: 966px) {
    width: calc((100% - 2px) / 3);
  }

  @media (max-width: 768px) {
    width: calc((100% - 1px) / 2);
  }

  @media (max-width: 550px) {
    padding: 14px;
  }
}

#feed {
  position: relative;
  margin-bottom: 80px;
  margin-bottom: -116px;

  @media (max-width: 550px) {
    margin-bottom: 40px;
  }
}

.feed {
  overflow: hidden;
  position: relative;
  .swiper-slide {
    padding: 12px;
  }

  width: calc(100vw - (100vw - 100%) / 2);
  margin-left: -10px;

  @media (max-width: 550px) {
    width: calc(100% + 24px);
    margin-left: -12px;
  }

  .swiper-slide {
    width: 356px;

    @media (max-width: 1340px) {
      width: 379px;
    }

    @media (max-width: 966px) {
      width: 276px;
    }
    @media (max-width: 768px) {
      width: 336px;
    }
  }

  @media (min-width: 550px) {
    &:after {
      content: '';
      position: absolute;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
      right: 0;
      top: 0;
      
      bottom: 12px;
      width: calc((100vw - 1326px) / 2);
      z-index: 9;
      min-width: 84px;
    }
  }
  
}

.one-feed {
  padding: 24px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(55, 71, 79, 0.2);
  height: 480px;
}
.one-feed-logo {
  margin-bottom: 20px;
  height: 40px;

  img {
    max-height: 40px;
  }
}
.one-feed-text {
  margin-bottom: 20px;
  height: 272px;
  color: #33333B;
  font-size: 16px;
  line-height: 24px;
}
.one-feed-info {
  padding: 17px 0 0 0;
  border-top: 1px solid #B0BEC5;
}
.one-feed-name {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 4px;
}
.one-feed-why {
  font-size: 12px;
  line-height: 16px;
  color: #424242;
}

.nav-feed {
  display: flex;
  gap: 24px;
  align-items: center;
  position: absolute;
  right: 0;
  top: -9px;
  z-index: 2;

  @media (max-width: 768px) {
    top: -5px;
  }
}
.pages_nav {
  font-size: 14px;
  line-height: 20px;
  color: #7B7B81;
  display: block;
}
.nav-feed-arr {
  display: flex;
  gap: 18px;
}
.one-feed-arr {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  border: 1px solid #7B7B81;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;

  @media (max-width: 768px) {
    width: 48px;
    height: 48px;
  }

  &:hover {
    border: 1px solid #4ACA22;
  }

  &.prev {
    transform: rotate(180deg);
  }

  &.next {
  }

  &.active {
    border: 1px solid #4ACA22;
  }

  &.swiper-button-disabled {
    border-color: #D3D3D3;

    svg {
      path {
        fill: #7B7B81;
      }
    }
  }

}

#cont {
  position: relative;
  padding-top: 195px;

  @media (max-width: 1340px) {
    padding-top: 164px;
  }

  @media (max-width: 550px) {
    padding-top: 40px;
  }

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    bottom: 91px;
    left: 0px;
    //top: -195px;
    top: 0px;
    background: linear-gradient(90deg, #CBEEC0 0%, #A6D9F0 100%);

    @media (max-width: 1340px) {
      bottom: 60px;
    }

    @media (max-width: 550px) {
      bottom: 40px;
    }
  }

  .section-tit {
    @media (max-width: 550px) {
      margin-bottom: 8px;
    }
  }
}

.cont {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  gap: 27px;

  @media (max-width: 966px) {
    flex-direction: column;
  }

  @media (max-width: 550px) {
    gap: 24px;
  }
}
.cont-line-anim {
  position: absolute;
  bottom: 132px;
  right: -27px;
  
  
  & path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transition: none;
  }

  &.aos-animate path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw-line 2s ease forwards;
}


  @media (max-width: 1340px) {
    bottom: 90px;
    svg {
      position: relative;
      right: -62px;
    }
  }

  @media (max-width: 1150px) {
    bottom: 110px;
    svg {
      position: relative;
      right: -244px;
    }
  }

  @media (max-width: 966px) {
    display: none;
  } 
}

@keyframes draw-line {
  to {
    stroke-dashoffset: 0;
  }
}

.cont-line-anim path:nth-child(1) {
  animation-delay: 0s;
}

.cont-line-anim path:nth-child(2) {
  animation-delay: 0.5s;
}

.cont-line-anim path:nth-child(3) {
  animation-delay: 1s;
}


.cont-left {
  position: relative;
  width: 100%;
}
.section-tit {
}
.text-cont {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;

  @media (max-width: 550px) {
    font-size: 16px;
    line-height: 24px;
  }
}
.cont-right {
  width: 526px;
  position: relative;
  z-index: 3;
  flex: 0 0 auto;

  @media (max-width: 1340px) {
    width: 450px;
  }

  @media (max-width: 966px) {
    width: 100%;
  }
}
.cont-right-in {
  width: 100%;
  background-color: #1F1F24;
  padding: 60px;

  @media (max-width: 550px) {
    padding: 40px;
  }

  .cont-group {
    width: 100%;
  }

  .form-cons-one {
    margin-bottom: 8px;
    width: 100%;
    padding-bottom: 38px;

  }
  .reg {
  }
}

.form-cons-one-are {
  margin-bottom: 24px;
}

.send-form {
}
.prim-bt {
}

#faq {
  padding: 300px 0 100px;
  background-image: url(./images/faq.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-top: -91px;
  margin-bottom: 60px;

  @media (max-width: 1340px) {
    padding: 160px 0 60px;
    margin-top: -60px;
  }

  @media (max-width: 550px) {
    margin-top: 40px;
    padding: 80px 0 60px;
    margin-bottom: 40px;
  }
}

.faq {
  max-width: 1076px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 40px;
  gap: 24px;
  background: #FFFFFF;
  box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25), 0px 0px 15px rgba(0, 0, 0, 0.07);

  @media (max-width: 1150px) {
    flex-direction: column;
  }

  @media (max-width: 550px) {
    padding: 0px;
  }
}
.faq-left {
  width: 376px;
  flex: 0 0 auto;

  @media (max-width: 550px) {
    width: 100%;
    padding: 24px 24px 0;
  }

  .section-tit {
    margin-bottom: 8px;

    @media (max-width: 550px) {
      margin-bottom: 0;

      h2 {
        margin-bottom: 0;
      }
    }
  }
}

.faq-info {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;

  @media (max-width: 1150px) {
    display: none;
  }
}
.faq-right {
  width: 100%;
}
.faq-right-in {
  border: 1px solid #EDEDED;
}
.faq-right-one {
  padding: 24px 56px 0px 48px;
  border-bottom: 1px solid #D3D3D3;

  &.open {
    .faq-right-one-top {
      border-bottom: 1px solid #D3D3D3;
      &:after {
        transform: rotate(0deg);
      }
    }
  }
}
.faq-right-one-top {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 0 0 24px;
  border-bottom: 1px solid #fff;
  position: relative;
  cursor: pointer;

  &:after {
    content: '';
    position: absolute;
    right: -32px;
    top: 0;
    background-image: url(./images/acc-arrow.svg);
    transform: rotate(180deg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    transition: all 0.3s;
  }

  i {
    font-style: normal;
    position: absolute;
    margin-left: -24px;
    top: 0;
  }
}
.faq-right-one-descr {
  padding: 20px 0 20px 0;
  display: none;

  p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

#news {
  .section-tit {
    h2 {
      @media (max-width: 550px) {
        font-size: 28px;
        line-height: 40px;
      }
    }
    @media (max-width: 550px) {
      margin-bottom: 40px;
    }
  }
}

.news {
  display: flex;
  gap: 24px;
  row-gap: 30px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}
.one-news {
  width: calc(50% - 12px);
  display: flex;
  gap: 12px;

  @media (max-width: 966px) {
    width: 100%;
  }
}
.one-news-thumb {
  width: 84px;
  flex: 0 0 auto;
}
.one-news-descr {
  width: 100%;
}
.one-news-date {
  margin-bottom: 4px;
  span {
    padding: 4px 8px;
    display: inline-block;
    background-color: #E3F2FD;
    color: #01579B;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
  }
}
.one-news-tit {
  margin-bottom: 20px;
  a {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
  }
}

.one-news-text {
  font-size: 14px;
  line-height: 20px;
}

footer {
  background-color: #33333B;
  color: #fff;
  padding: 60px 0;

  @media (max-width: 966px) {
    padding: 40px 0;
  }
}
.footer-top {
  padding: 0 0 32px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  @media (max-width: 966px) {
    flex-direction: column;
    gap: 24px;
  }
}
.footer-top-left {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer-logo {
}
.slogan {
  font-size: 16px;
  line-height: 24px;
}
.footer-top-right {
}
.sec-bt {
}
.footer-serv {
  padding: 0 0 40px;
  border-bottom: 1px solid rgba(255,255,255,0.2);

  @media (max-width: 1340px) {
    padding: 0 0 32px;
  }
}
.footer-tit {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.footer-serv-in {

  
  ul {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 16px;
    margin-bottom: 24px;

    @media (max-width: 966px) {
      flex-direction: column;
    }

    li {
      width: calc(50% - 12px);

      @media (max-width: 966px) {
        width: 100%;
      }

      a {
        font-size: 16px;
        line-height: 20px;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

.foot-all-serv {
  a {
    
  }
}

.green-link {
  color: #4ACA22;
    font-size: 16px;
    line-height: 20px;
    display: inline-block;
    cursor: pointer;
    padding-right: 28px;
    background-image: url(./images/all-serv-foot.svg);
    background-repeat: no-repeat;
    background-position: right center;
    text-decoration: none;
}

.footer-cont {
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
  //margin-bottom: 32px;

    @media (max-width: 966px) {
      flex-direction: column;
      gap: 24px;
    }

    @media (max-width: 550px) {
      gap: 32px;
    }
}
.footer-cont-left {
  padding-top: 8px;

  @media (max-width: 966px) {
    padding-top: 0;
  }
}
.footer-cont-office {

  @media (max-width: 966px) and (min-width: 550px) {
    display: flex;
    gap: 24px;
  }
}
.footer-cont-top {
  color: #8C8C92;
  font-size: 16px;
  margin-bottom: 24px;
  line-height: 24px;
}
.footer-cont-office-lest {
  display: flex;
  gap: 16px;
  flex-direction: column;

  @media (max-width: 550px) {
    gap: 24px;
  }

  .footer-cont-one-l {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .footer-cont-one-l-ico {
  }
  .footer-cont-one-l-name {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    color: #fff;

    &.up {
      text-transform: uppercase;
    }

    a {
      color: #fff;
    }

    &.red {
      color: #f50057;
    }
  }

}

.footer-cont-right {
  @media (max-width: 1340px) {
    width: 546px;
  }
  @media (max-width: 1150px) {
    width: 456px;
  }
  
  @media (max-width: 966px) {
    width: 100%;
    height: 284px;

    img {
      height: 284px;
    }
  }
}

.regions {
  margin-bottom: 72px;

  @media (max-width: 550px) {
    margin-bottom: 40px;
  }
}

.regions-top {
  font-size: 16px;
  line-height: 24px;
  color: #8C8C92;
  margin-bottom: 24px;
  font-weight: 600;
}

.regions-list {
  display: flex;
  flex-wrap: wrap;
}

.one-reg {
  width: calc(100% / 4);
  border: 1px solid #7B7B81;
  padding: 16px;
  margin-right: -1px;
  margin-bottom: -1px;

  @media (max-width: 1150px) {
    width: calc(100% / 3);
  }

  @media (max-width: 966px) {
    width: calc(100% / 2);
  }

  @media (max-width: 966px) {
    width: 100%;
  }
}

.footer-other-links {
  display: flex;
  justify-content: space-between;

  @media (max-width: 966px) {
    flex-direction: column;
    gap: 32px;
  }

  @media (max-width: 550px) {
    flex-direction: column-reverse;
    gap: 64px;
  }
}
.left-other {
  @media (max-width: 550px) {
    margin-bottom: 40px;
  }
  ul {
    li {
      padding: 10px 0;
    }
  }
}
.green-link {
}
.right-other {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;

  @media (max-width: 966px) {
    flex-direction: row-reverse;
  }

  @media (max-width: 550px) {
    justify-content: start;
  }
}
.foot-soc {
  ul {
    display: flex;
    gap: 24px;
  }
  a {
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    &.soc-1 {
      background-color: #1877F2;
    }
    &.soc-2 {
      background-color: #0088CC;
    }
    &.soc-3 {
      background-color: #25D366;
    }
  }
}
.foot-copy {
  font-size: 14px;
  color: #D3D3D3;
  line-height: 20px;
  width: 100%;
  text-align: right;
  margin-top: -30px;

  @media (max-width: 966px) {
    margin-top: -25px;
    text-align: left;
  }

  @media (max-width: 550px) {
    margin-top: 0;
  }
}

.search {
  background-color: rgba(0,0,0,0.8);
  padding-top: 84px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  display: none;

  @media (max-width: 550px) {
    padding-top: 0;
    z-index: 99;

    .container {
      padding: 0;
    }
  }
}
.search-body {
  position: relative;
  padding: 20px;
  width: 100%;
  background: linear-gradient(90deg, #0093D5 0%, #50C659 100%);

  @media (max-width: 550px) {
    padding: 60px 20px 20px;
  }
}
.search-wrap {
  padding: 12px;
  background-color: #fff;
  border-radius: 4px;
  height: 72px;

  input {
    height: 48px;
    padding-left: 44px;
    background-image: url(./images/search-ico.svg);
    background-repeat: no-repeat;
    background-position: 12px center;
    border-bottom: 1px solid #D3D3D3;
    color: #000;
  }
}
.search-close {
  position: absolute;
  left: 100%;
  top: 0;
  width: 40px;
  height: 40px;
  background-color: #33333B;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @media (max-width: 550px) {
    left: auto;
    right: 20px;
    top: 20px;
  }
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 102;
    align-items: center;
    justify-content: center;
    display: none;

    @media (max-width: 768px) {
      padding: 15px;
    }
}

.modal.show {
  display: flex;
}

.modal-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    opacity: 0;
    animation: fadeIn 0.3s forwards;
    position: absolute;
}

.modal-in {
    background: linear-gradient(90deg, #CBEEC0 0%, #A6D9F0 100%);
    box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25), 0px 0px 15px rgba(0, 0, 0, 0.07);
    max-width: 1076px;
    width: 100%;
    opacity: 0;
    transform: scale(0.9);
    animation: zoomIn 0.3s 0.1s forwards;
    z-index: 1;

    @media (max-width: 1150px) {
      max-width: 926px;
    }

    @media (max-width: 966px) {
      max-width: 776px;
    }

    @media (max-width: 768px) {
      max-width: 100%;
    }
}

@keyframes fadeIn {
  to { opacity: 1; }
}

@keyframes zoomIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-in-wrap {
    position: relative;
}
.modal-close {
    position: absolute;
    left: 100%;
    top: 0;
    width: 40px;
    height: 40px;
    background-color: #33333B;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @media (max-width: 768px) {
      left: auto;
      right: 0;
      top: 0;
    }
}
.cont-form-modal {
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-direction: column;
    }
}
.cont-form-modal-left {
    padding: 60px;
    width: 52%;

    @media (max-width: 1150px) {
      width: 400px;
      flex: 0 0 auto;
      padding: 40px 40px 24px;
    }

    @media (max-width: 768px) {
      width: 100%;
    }
}
.cont-form-modal-logo {
    margin-bottom: 40px;

    @media (max-width: 768px) {
      margin-bottom: 24px;
    }
}
.cont-form-modal-tit {
    font-size: 28px;
    line-height: 40px;
    font-weight: bold;
    margin-bottom: 16px;
    text-transform: uppercase;

    @media (max-width: 768px) {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 8px;
    }
}
.cont-form-modal-info {
  @media (max-width: 768px) {
    font-size: 16px;
    line-height: 24px;
  }
}
.cont-form-modal-right {
    width: 48%;
    background-color: #1f1f24;
    padding: 60px;

    .cont-right-in {
        padding: 0;
    }

    @media (max-width: 1150px) {
      width: 100%;
    }

    @media (max-width: 768px) {
      padding: 40px;
    }

    .cont-form-modal-right-in {
  }

  .form-cons-one {
    @media (max-width: 768px) {
      padding-bottom: 8px;
    }
  }
  .reg {
  }
  .form-cons-one-are {
  }
  .send-form {
    button {
      width: 100%;
    }
  }
}


// OTHER 
.top-page-info {
    //padding: 40px 108px;
    overflow: hidden;
    padding: 40px 0px;
    background: linear-gradient(90deg, #B0D8ED 0%, #D0EDC4 100%);

    h1 {
        margin-bottom: 12px;
        font-size: 40px;
        line-height: 48px;
        font-weight: 600;

          @media (max-width: 550px) {
              font-size: 28px;
              line-height: 40px;
              margin-bottom: 12px;
          }
    }

    p {
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;
    }
}
// / OTHER